server:
  port: 8081

spring:
  # Configuraci贸n de Base de Datos
  datasource:
    url: jdbc:postgresql://ep-holy-lab-adscvkyb-pooler.c-2.us-east-1.aws.neon.tech:5432/neondb?sslmode=require
    username: neondb_owner
    password: npg_CnJMka1dSQ5x
    driverClassName: org.postgresql.Driver

  # Configuraci贸n de JPA/Hibernate
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  # Configuraci贸n de Flyway
  flyway:
    enabled: true
    baselineVersion: 1
    locations: classpath:db/migration
    sqlMigrationSuffixes: .sql
    baselineOnMigrate: true
    sqlMigrationPrefix: V
    schemas: public

  # ------------------------------------
  #  1. CONFIGURACIN DEL SERVICIO DE CORREO (SMTP)
  # ------------------------------------
  mail:
    # Si usas Gmail (Puerto est谩ndar para STARTTLS)
    host: smtp.gmail.com
    port: 587

    # 锔 RECUERDA: La contrase帽a debe ser un "App Password" de Gmail si tienes 2FA
    username: jonnathanjose043@gmail.com
    password: hbdc rqfj eyig mynp

    protocol: smtp
    test-connection: false
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          # Para evitar problemas de conexi贸n con certificados SSL/TLS
          ssl:
            trust: smtp.gmail.com

# ==========================================================
#  CONFIGURACIN ADICIONAL PARA SERVICIOS EXTERNOS (GOOGLE)
# ==========================================================
google:
  client:
    # CLIENT ID DE GOOGLE UTILIZADO PARA EL LOGIN (OAuth 2.0)
    id: 203925615165-ppgtpa9cmgq1eichb76u0kcr5pmgn8pi.apps.googleusercontent.com